@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Oxygen);
/* import framework */
button, .btn, .btn-lg, .btn-sm, .btn-rouge, .btn-bleu, .btn-vert, .btn-jumbotron {
  font-size: 14px;
  background-color: #ededed;
  text-indent: 0;
  border: 1px solid #777777;
  display: inline-block;
  color: #777777;
  text-decoration: none;
  text-align: center;
  padding: 2px;
  width: 15%; }
  button:hover, .btn:hover, .btn-lg:hover, .btn-sm:hover, .btn-rouge:hover, .btn-bleu:hover, .btn-vert:hover, .btn-jumbotron:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf; }
  button:active, .btn:active, .btn-lg:active, .btn-sm:active, .btn-rouge:active, .btn-bleu:active, .btn-vert:active, .btn-jumbotron:active {
    cursor: pointer; }

.btn-lg {
  width: 20%; }

.btn-sm {
  width: 10%; }

.btn-rouge {
  background-color: #FF1919;
  color: white; }
  .btn-rouge:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
    background: -moz-linear-gradient(center top, #ce0100 5%, #fe1a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
    background-color: #ce0100; }

.btn-bleu {
  background-color: #0099FF;
  color: white; }
  .btn-bleu:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color: #378de5;
    cursor: pointer; }

.btn-vert, .btn-jumbotron {
  background-color: #5CD65C;
  color: white; }
  .btn-vert:hover, .btn-jumbotron:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
    background: -moz-linear-gradient(center top, #a5cc52 5%, #b8e356 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
    background-color: #a5cc52; }

.btn-ft {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  border: none; }

.btn-xxlg, .btn-jumbotron {
  width: 25%; }

.btn-fcy {
  text-decoration: none;
  text-align: center;
  padding: 28px 65px;
  border: dashed 2px #004F72;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font: 24px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #E5FFFF;
  background-color: #3b8ac7;
  background-image: -moz-linear-gradient(top, #3b8ac7 0%, #1961a5 100%);
  background-image: -webkit-linear-gradient(top, #3b8ac7 0%, #1961a5 100%);
  background-image: -o-linear-gradient(top, #3b8ac7 0%, #1961a5 100%);
  background-image: -ms-linear-gradient(top, #3b8ac7 0%, #1961a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1961a5', endColorstr='#1961a5',GradientType=0 );
  background-image: linear-gradient(top, #3b8ac7 0%, #1961a5 100%);
  -webkit-box-shadow: 13px 11px 11px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 13px 11px 11px #bababa,  inset 0px 0px 1px #ffffff;
  box-shadow: 13px 11px 11px #bababa, inset 0px 0px 1px #ffffff; }

.btn-fcy:hover {
  background-color: #1E4564;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1E4564), color-stop(1, #3b8ac7));
  background: -moz-linear-gradient(center top, #1E4564 5%, #3b8ac7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E4564', endColorstr='#3b8ac7'); }

.btn-jumbotron {
  padding: 10px; }
  .btn-jumbotron:after {
    content: "┬╗"; }

/* Couleurs souvent utilis├®es */
/* Bordures */
.border_complete {
  border-style: solid 1px #FFFFFF; }

.border_bas {
  border-bottom: solid 1px #FFFFFF; }

.border_gauche {
  border-left: solid 1px #FFFFFF; }

.border_droite {
  border-right: solid 1px #FFFFFF; }

.border_haut {
  border-top: solid 1px #FFFFFF; }

.header {
  padding: 1%;
  padding-left: 150px; }

.jumbotron {
  background-color: #CCCCCC;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  padding: 150px;
  border-radius: 6px; }
  .jumbotron p {
    font-size: 24px; }

.sans_deco {
  list-style-type: none; }

.puce_carree {
  list-style-type: square; }

.no_padding {
  padding: 0; }

.no_margin {
  margin: 0; }

.a_gauche {
  text-align: left; }

.a_droite {
  text-align: right; }

.centrer {
  text-align: center; }

.justifier {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.underline {
  text-decoration: underline; }

.alterner tr:nth-child(odd) {
  background-color: red; }

.alterner tr:nth-child(even) {
  background-color: #E3DAC9; }

body {
  margin: 0; }

/* Titres */
h1, h2, h3, h4, h5, h6 {
  /*text-decoration: underline;*/ }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  /*color: gray;*/
  font-size: 10px; }

/* Divers */
p {
  margin-bottom: 2%; }

mark, del, ins, u, strong, em, abbr {
  display: inline; }

mark {
  background-color: #00CCFF; }

blockquote:before {
  content: "┬½"; }

blockquote:after {
  content: "┬╗"; }

code {
  font-family: "Droid Sans Mono";
  font-weight: bold;
  font-size: 14px;
  background-color: #E6E6E6;
  display: block;
  margin-left: 5%;
  margin-right: 5%; }

kbd {
  font-style: oblique;
  color: #B26B00; }

li:hover {
  background-color: #B77749; }

a {
  text-decoration: none;
  color: white; }

/*# sourceMappingURL=style.css.map */
