$gutter: 1%;
$maximum-columns: 12;
$column-width: (100-($gutter*(($maximum-columns)-1)))/$maximum-columns;

$gutter-sp: 0%;
$column-width-sp: (100-($gutter-sp*(($maximum-columns)-1)))/$maximum-columns;



@function nbSpan($columns, $container-columns: $maximum-columns) {
  $width: $columns * $column-width + ($columns - 1) * $gutter;
  $container-width: $container-columns * $column-width + ($container-columns - 1) * $gutter;
  @return percentage($width / $container-width);
}

@function nbOffset($nb, $column: $column-width, $gutter-width: $gutter){
  $nbcol: $nb*$column;
  $nbgutter: $nb*$gutter-width;
  @return $nbcol+$nbgutter;
}

@function gutter($container-columns: $maximum-columns, $gutter-width:
  $gutter) {
  $container-width: $container-columns * $column-width + ($containercolumns - 1) * $gutter;
  @return percentage($gutter-width / $container-width);
}


@mixin genere-span{
  @for $i from 2 through $maximum-columns{
    .span-#{$i}{ 
      width: nbSpan($i);
      margin-right: $gutter;
    }
  }
}

@mixin genere-span-sp{
  @for $i from 2 through $maximum-columns{
    .span-#{$i}{ 
      width: auto;
    }
  }
}

@mixin genere-offset{
  @for $i from 1 through $maximum-columns{
    .offset-#{$i}{
      margin-left: nbOffset($i);
    }
  }
}

@mixin genere-offset-sp{
  @for $i from 1 through $maximum-columns{
    .offset-#{$i}{
      margin-left: 0;
    }
  }
}

@mixin col-base{
  width: nbSpan(1);
  margin-right: $gutter;
}
