/* pour combattre l'espace entre les éléments inline-block + visualiser sur page de test*/
$color:#9933FF;
.ligne{
	font-size: 0px;
	background-color:$color;
	text-align: center;
	min-height: 50px;
}

.ligne div{
	font-size: 16px;
	background-color: darken($color, 10%);
	color:white;
	min-height: 50px;
}



@import "grille";

.col{
	display: inline-block;
	word-wrap: break-word;
	@include col-base;
}

.col:last-child{
	margin-right: 0;
}

/* span et offset pour desktop */
@media screen and (min-width: 1451px){
	@include genere-span;
	@include genere-offset;
}

/* span et offset pour tablette */
@media screen and (min-width:481px) and (max-width:1450px){
	@include genere-span;
	@include genere-offset;
}

/* enlève span et offset pour smartphone */
@media screen and (max-width:480px){
	@include genere-span-sp;
	@include genere-offset-sp;	
}


.nomarginright{
	margin-right:0;
}

.nomarginleft{
	margin-left:0;
}

